.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
}

button {
  background-color: #3f51b5;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
}

button + button,
input + button {
  margin-left: 10px;
}